@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.custom-nav{
     background-color: #00A0E0;
     margin-bottom: 30%;
}
.cool{
     font-family: "Josefin Sans", serif;
     margin-left: 3%;
     margin-top: 1%;
}